.p-only-boxes {
	max-width: 420px;
	margin: 0 auto;
	padding-bottom: 30px;
	.only-boxes-title {
		margin-bottom: 5px;
		text-align: center;
		font-size: 27px;
		color: #757575;
		text-transform: uppercase;
	}
	.two-boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.box-item {
		display: flex;
		width: 170px;
		height: 100px;
		margin-bottom: 25px;
		justify-content: center;
		align-items: center;
		background-color: #e9e9e9;
		cursor: pointer;
		.box-item-icon { font-size: 46px; color: #9d9d9c; }
		&:hover, &:active, &:focus, &:visited {
			.box-item-icon { color: $green; }
		}
	}
}

@media (min-width: $breakpoint-mobile) {
	.p-only-boxes {
		padding-top: 15px;
		.only-boxes-title {
			margin-bottom: 10px;
			text-align: left;
			font-size: 30px;
		}
		.two-boxes { flex-direction: row; }
		.box-item {
			width: 190px;
			height: 115px;
			&:first-of-type { margin-right: 40px; }
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.p-only-boxes {
		padding-bottom: 55px;
	}
}