.p-slider {
	height: 180px;
	background-color: #f3f3f3;
	.slider-indicators {
		display: none;
		bottom: 12px;
		margin-bottom: 0;
		li {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $grey;
			cursor: pointer;
			&.active { background-color: $green; }
		}
	}
	.carousel, .carousel-inner, .carousel-item, .item-content { height: 100%; }
	.image-holder {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 115px;
		background-image: url(/images/slider-bgd-mob.png);
		background-position: center;
		background-repeat: no-repeat;
		border-bottom: 1px solid #fff;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			display: block;
			bottom: -2px;
			background-color: #d5d5d5;
		}
		.item-img-mob-up { margin-left: 25px; margin-right: 20px; }
		.item-img-tablet-up { margin-left: 85px; margin-right: 25px; }
		.item-img-mob-up, .item-img-tablet-up { display: none; }
		.item-content-text-mob-up {
			display: none;
			margin: 0;
			line-height: 1.2;
			font-size: 38px;
			color: #757575;
			text-transform: uppercase;
		}
	}
	.content-wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.item-content .carousel-caption {
		left: 0;
		right: 0;
		bottom: 0;
		padding: 18px 0;
		background-color: #fafafa;
		border-bottom: 1px solid #d5d5d5;
		.item-content-text {
			margin-bottom: 0;
			color: #757575;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	.carousel-controls {
		top: unset;
		height: 65px;
		color: $grey;
	}
}

@media (min-width: $breakpoint-mobile) {
	.p-slider {
		height: 200px;
		.carousel-controls { display: none; }
		.image-holder {
			height: calc(100% - 1px);
			background-image: url(/images/slider-bgd-tablet.png);
			.item-img { display: none; }
			.item-img-mob-up { display: block; }
			.item-content-text-mob-up { display: block; }
		}
		.item-content .carousel-caption { display: none; }
		.slider-indicators { display: flex; }
	}
}

@media (min-width: $breakpoint-tablet) {
	.p-slider {
		height: 310px;
		.image-holder {
			height: calc(100% - 1px);
			background-image: url(/images/slider-bgd-desk.png);
			.item-img-mob-up { display: none; }
			.item-img-tablet-up { display: block; }
			.item-content-text-mob-up { font-size: 48px; }
		}
		.slider-indicators { bottom: 15px; }
	}
}