.p-vertical-list {
	max-width: 420px;
	margin: 0 auto;
	padding-top: 12px;
	.vertical-list-title {
		margin-bottom: 5px;
		text-align: center;
		font-size: 27px;
		color: #757575;
		text-transform: uppercase;
	}
	.vertical-list-item {
		display: flex;
		margin-bottom: 20px;
		flex-direction: column;
		align-items: center;
	}
	.img-wrapper {
		display: flex;
		width: 170px;
		height: 100px;
		justify-content: center;
		align-items: center;
		background-color: #e9e9e9;
		cursor: pointer;
		.img-wrapper-icon { font-size: 46px; color: #9d9d9c; }
		&:hover, &:active, &:focus, &:visited {
			.img-wrapper-icon { color: $green; }
		}
	}
	.item-content {
		width: 170px;
		color: #646464;
		.item-title { font-size: 15px; }
		.item-desc {
			display: none;
			font-size: 13px;
		}
		.item-btn {
			float: right;
			margin-top: 5px;
		}
	}
}

@media (min-width: $breakpoint-mobile) {
	.p-vertical-list {
		padding-top: 20px;
		.vertical-list-title {
			margin-bottom: 15px;
			text-align: left;
			font-size: 30px;
		}
		.vertical-list-item { flex-direction: row; align-items: flex-start; }
		.img-wrapper {
			display: flex;
			width: 190px;
			height: 115px;
			margin-right: 40px;
		}
		.item-content {
			width: 190px;
			.item-title { line-height: 1.1; margin-bottom: 15px; }
			.item-desc {
				display: block;
				margin-bottom: 0;
				line-height: 1.3;
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.p-vertical-list { padding-top: 40px; }
}