.l-footer {
	height: 60px;
	background-color: #dbdbdb;
	.footer-wrapper {
		display: flex;
		height: 100%;
		justify-content: space-between;
		align-items: center;
	}
	.footer-left {
		margin-bottom: 0;
		flex-basis: 170px;
		flex-shrink: 0;
		.social-network {
			float: left;
			margin-right: 20px;
			&:last-child { margin-right: 0; }
		}
	}
	.footer-center {
		display: none;
		margin-bottom: 0;
		li { float: left; }
		.footer-center-item {
			display: block;
			padding: 10px;
			color: #757575;
			font-size: 14px;
			text-transform: uppercase;
			&:hover { color: $green; }
			&:active { color: #81b36e; }
			&:focus { color: #429099; }
			&:visited { color: #1375b8; }
		}
	}
	.footer-right {
		flex-basis: 50px;
		flex-shrink: 0;
		.back-to-top { float: right; }
	}
}

@media (min-width: $breakpoint-tablet) {
	.l-footer {
		.footer-center { display: block; }
		.footer-right { flex-basis: 170px; }
	}
}