.l-header {
	.header-wrapper {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.logo-holder {
		float: left;
		width: 118px;
		height: 36px;
		background-image: url(/images/logo.png);
	}
	.nav {
		float: right;
		padding: 10px 0;
		margin-right: 10px;
	}
	.nav-icon {	cursor: pointer; }
	.nav-icon-line {
		width: 20px;
		height: 4px;
		margin-bottom: 2px;
		background-color: $grey;
		border-radius: 10px;
	}
	.nav-items-mobile {
		display: none;
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		z-index: 2;
		.item {
			border-bottom: 1px solid #fff;
			font-size: 14px;
			&:nth-child(1) { background-color: $green; }
			&:nth-child(2) { background-color: #81b36e; }
			&:nth-child(3) { background-color: #429099; }
			&:nth-child(4) { background-color: #1375b8; }
		}
		.item-content {
			display: block;
			padding: 5px 15px;
			color: #fff;
		}
		.item-slash { display: none; }
	}
	.nav-items-tablet {
		display: none;
		margin-bottom: 0;
		.nav-items-icons {
			display: block;
			margin-right: 25px;
			font-size: 25px;
			color: $grey;
			&:hover { color: $green; }
			&:active { color: #81b36e; }
			&:focus { color: #429099; }
			&:visited { color: #1375b8; }
		}
		.item-icon { padding: 10px; }
	}
	.nav-items-desk {
		display: none;
		margin-right: 60px;
		margin-bottom: 0;
		.item {
			float: left;
			padding: 5px 10px;
			font-size: 17px;
			cursor: pointer;
			&.item-slash {
				display: block;
				padding: 5px 0;
				color: $grey;
				cursor: auto;
			}
		}
		.item-content {
			color: $grey;
			&:hover { color: $green; }
			&:active { color: #81b36e; }
			&:focus { color: #429099; }
			&:visited { color: #1375b8; }
		}
	}
	.search {
		float: right;
		padding: 7px 0;
		color: $grey;
		cursor: pointer;
	}
	.search-wrapper {
		display: none;
		overflow: hidden;
		padding-bottom: 10px;
		.search-input.form-control {
			border-color: #cbcbcb;
			border-radius: 3px;
			height: 25px;
			font-size: 14px;
		}
	}
	.header-bottom {
		width: 100%;
		height: 8px;
		background: #c2d757;
		background: linear-gradient(to right, rgba(194,215,87,1), rgba(40,129,190,1));
	}
}
.css-js-active-nav {
	.l-header {
		.header-wrapper { background-color: #fff; }
		.nav-icon-line { background-color: #bad447; }
	}
}
.css-js-search-input {
	.l-header {
		background-color: #fff;
		.search { color: $green;; }
	}
}

@media (min-width: $breakpoint-mobile) {
	.l-header {
		.logo-holder {
			width: 122px;
			height: 37px;
			background-image: url(/images/logo-tablet.png);
		}
		.nav { padding: 0; margin-right: 0; }
		.nav-icon { display: none; }
		.nav-items-mobile {	display: none; }
		.nav-items-tablet {	display: flex; }
	}
}

@media (min-width: $breakpoint-tablet) {
	.l-header {
		.header-wrapper { padding-top: 15px; padding-bottom: 15px; }
		.logo-holder {
			width: 150px;
			height: 46px;
			background-image: url(/images/logo-desk.png);
		}
		.nav { padding: 6px 0; }
		.nav-items-tablet { display: none; }
		.nav-items-desk { display: block; }
		.search { padding: 14px 0; }
	}
}