@import "reset";

// Colors
$grey: #bababa;
$green: #bbd547;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 808px,
  xl: 808px
)