.btn {
	padding: 7px 8px;
	font-size: 9px;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
	&.btn-secondary {
		background-color: #f3f3f4;
		color: #646464;
		&:hover, &:active, &:focus {
			background-color:
			$green; color: #fff;
			box-shadow: none;
		}
	}
}
.btn-rounded {
	display: flex;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	background-color: #f3f3f4;
	font-size: 25px;
	color: #6d6e71;
	border-radius: 50%;
	&:hover { color: $green; }
}